html,
body {
  font: 13px "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.lobster-client--hideScrollbar::-webkit-scrollbar {
  width: 0px;
}

/* Animations */
@keyframes lobster-client--slide-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes lobster-client--slide-down {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}
